h1 {color: blueviolet;}
body {background-color: coral;}
 {border: 4px;border-color: black;}
   #Nachos {border: 2px solid navy;}
   #BALLS {font-size: xx-large;
font-stretch: expanded;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
   #newpagelink {font-size: xx-large; font-weight: 100;}

